name: Deploy to GitHub pages

env:
  FORESTER_VERSION: "4.2.0"
  OCAML_VERSION: "5.1"
  PYTHON_VERSION: "3.11"
  TEXLIVE_PACKAGES: "scheme-full"

on:
  push:
    paths-ignore:
      - "LICENSE"
      - "README.md"
    branches:
      - main

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

# Default to bash
defaults:
  run:
    shell: bash

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: main
          submodules: recursive
      - name: Setup TeX Live
        uses: TeX-Live/setup-texlive-action@v3
        with:
          packages: ${{ env.TEXLIVE_PACKAGES }}
      - name: Check `latex`
        run: |
          echo $GITHUB_PATH
          tlmgr --version
          which latex
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v5
      - name: Update apt cache
        run: sudo apt-get update
      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ env.OCAML_VERSION }}
      - name: Install forester
        run: |
          sudo apt-get install -y libev-dev dvisvgm
          opam install forester.${{ env.FORESTER_VERSION }} --yes
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install Homebrew
        run: |
          bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          echo "$(brew --prefix)/bin" >> $GITHUB_PATH
      - name: Install saxon
        run: |
          brew install saxon
      - name: Build with forester
        run: |
          eval $(opam env)
          forester --version
          bash ./build.sh
      - name: Fix permissions
        run: |
          chmod -c -R +rX "./output/" | while read line; do
            echo "::warning title=Invalid file permissions automatically fixed::$line"
          done
      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./output

  # Deploy job
  deploy:
    # Add a dependency to the build job
    needs: build

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    # Specify runner + deployment step
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
